.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
     background-color: rgba(0,18,32,255);
    color: #fff;
  }
  
  .main {
  
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    text-align: center;
    position: sticky;
  }
  
  .filters {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .filterBtn {
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  
  
  .filterBtn.active {
    background-color: #0070f3;
    color: #ffffff;
  }
  
  .preguntaList {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    width: 100%;
  }
  
  .preguntaItem {
    padding: 1rem;
    background-color: #eaeaea;
    color : #000000;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .nivel {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .agregar{
    position: fixed;
    left:80%;
    background-color: #1e5ea7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 4rem;
    font-size: 1.5rem;
    min-width: 15rem;
    cursor:grab;
  }
  .agregar:hover{
    background-color: #406da0;
    color: white;
    border: none;

  }
  .breadcrumb {
    font-size: 1rem;
    margin-top: 2rem;
  }
  
  .breadcrumb a:hover {
    color: #0070f3;
    text-decoration: none;
  }
  