.footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border-top: 1px solid #eaeaea;
  user-select: none;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
