/* Estilos del footer */
.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    border-top: 1px solid #eaeaea;
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
  