
.container {
  min-width: 50rem;
  padding: 1rem;
  border: 1px solid ;
  border-radius: 1rem;
  background:  rgba(118,125,134,255);
  color: rgba(253,253,253,255);
  display: grid;
  font-size: 1.2rem;
  
  
}

.question {
  justify-self: center;
  font-weight: bold;

}
.apartadoPreguntas
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.etiqueta{
  font-weight: bold;
  padding-right: 1rem;
}

.correcto {
  color: rgb(52, 179, 52);
}
.incorrecto {
  color: rgb(184, 44, 44);
}

.inputRespuesta{
  width: 200px;
  padding: 0.5rem;
  width: 16rem;
  align-items: right;
  border: 1px solid #1020ac;
  border-radius: 0.2rem;
  background-color: #ffffff;

}

.resultado{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid ;
  border-radius: 1rem;
  font-weight: bold;
  display: grid;
}

