

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.codeContainer {
  margin-bottom: 20px;
}

.react-syntax-highlighter-line-number {
  display: inline-block;
  padding-right: 15px;
  color: #999;
}

.react-syntax-highlighter-line-number:before {
  content: attr(data-index);
}

.react-syntax-highlighter-line {
  display: block;
}

.react-syntax-highlighter-line.react-syntax-highlighter-line-highlighted {
  background-color: #3b3b3b;
}

/* Styling for the input */
.text-input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the button */
.confirm-button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #0056b3;
}

.correcto {
  color: green;
}
.incorrecto {
  color: red;
}

