.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    gap: 2rem;
    min-width: 15rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,18,32,255);

}
  

  .volver {
    position: fixed;
    top: 70%;
    left: 5%;
    
    color: white;
    border-radius: 5px;
    height: 4rem;
    font-size: 1.2rem;
    width: 12rem;
  }
  
  .title {
    position:sticky; 
    justify-self: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .volver {
    display: grid;
    gap: 1rem;
  }

  .volver button {
    background-color: #1e5ea7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 4rem;
    font-size: 1.5rem;
    min-width: 15rem;
    cursor:grab;
  }

.volver button:hover{
  color: #424446;
  text-decoration: none;
}

  .resultado{
    display: flex;
    border-radius: 8px;
    min-width: 15rem;
    justify-content: center;
    text-align: center;
    border: 1px solid ;
    font-weight: bold;
  }



  .informacion {
    position: fixed;
    top: 35%;
    left: 80%;
    max-width: 12rem;
    color: white;
    border-radius: 5px;
    border-color: #000;
    height: 4rem;
    font-size: 1.2rem;
    width: 12rem;
    
}

.informacion button {
    background-color: #1e5ea7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 4rem;
    font-size: 1.5rem;
    min-width: 15rem;
    cursor:grab;
}

.informacion   button:hover{
  color: #424446;
  text-decoration: none;
}



.breadcrumb {
  font-size: 1rem;
  margin-top: 2rem;
  color: #fff;
}

.breadcrumb a:hover {
  color: #0070f3;
  text-decoration: none;
}
